<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/chatbot.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
</head>
<body>
   
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card card-bordered">
                        <div class="card-header">
                            <h4 class="card-title"><strong>Neuro.net Chatbot</strong></h4> <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Let's Chat App</a>
                        </div>

                        <div class="ps-container ps-theme-default ps-active-y" id="chat" style="overflow-y: scroll !important; height:400px !important;">
                            <div class="media media-chat"> <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."><div class="media-body"><p>{{welcome}}</p><p class="meta"><time datetime="2018"></time></p></div></div>

                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                            </div>
                            
                        </div>
                        <div class="publisher bt-1 border-light"> <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."> <input class="publisher-input" id="chat_box" type="text" placeholder="Write something"> <span class="publisher-btn file-group"> <i class="fa fa-paperclip file-browser"></i> <input type="file"> </span> <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a> <a class="publisher-btn text-info" href="#" data-abc="true" id="send_button"><i class="fa fa-paper-plane"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

function bot_message(msg) {

var botmsg = $.parseHTML(`<div class="media media-chat"> <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."><div class="media-body"><p>${msg}</p><p class="meta"><time datetime="2018"></time></p></div></div>")`)
$("#chat").append(botmsg[0])

}

function user_message(msg) {
    
var usrmsg = $.parseHTML(` <div class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>${msg}</p>
                                    <p class="meta"><time datetime="2018">00:12</time></p>
                                </div>
                            </div>`)

$("#chat").append(usrmsg[1])                            
}




$("#send_button").click(function (e) { 
    e.preventDefault();
    message = $("#chat_box").val()
    user_message(message)
    $("#chat_box").val('')

    data = {
        message : message
    }

    $.ajax({

        type: "post",
        url: "/chat",
        data: JSON.stringify(data),
        success: function (response) {
            bot_message(response)
        },
        error: function (params) {
            window.history.back()
        }
    });
});





</script>

</body>
</html>

